<div class="bd-toc-item bg-fff flickr">
  <a class="bd-toc-link" href="#">recent Posts</a>
  <div class=" d-flex flex-wrap wrap_post_top">
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
    <div class="media media-aside pt-2">
      <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
    </div>
  </div>
</div>