<%# @posts = Post.all %>

<%#= p @posts.to_json %>

<main class="post-collection mb-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="card card_position">
        <div class="card-header">
          <%= image_tag('Layer 41.png', class: "card-img-top") %>
        </div>
        <div class="card-body card_body_position">
          <div class="card_body_content">
            <% @posts.last(1).each do |post| %>
            <h5 class="card-title"><%= post.name %></h5>
            <p class="card-text"><%= post.desc %></p>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class=" d-flex flex-column wrap_post_top">
        <% @posts.last(4).reverse.each do |post| %>
        <div class="media pt-2">
          <%= image_tag('Layer 28.png', class: "align-self-center mr-3") %>
          <div class="media-body">
            <p class="mt-0"><%= post.desc %></p>
          </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</main>