<%= render 'homes/postCollection' %>


<div class="row">
  <aside class="col-md-3">
    <nav class="bd-links">
      <%= render 'homes/asidePost' %>
      <%= render 'homes/asidePost' %>
      <%= render 'homes/recentComment' %>
      <%= render 'homes/flickr' %>
      <%= render 'homes/twitter' %>
    </nav>
  </aside>
  <div class="col-md-6">
    <article class="bd-links">
      <%= render 'homes/featuredPosts' %>
      <%= render 'homes/aboutAuthor' %>
      <%= render 'homes/postFormCommit' %>
    </article>
  </div>
  <aside class="col-md-3">
    <nav class="bd-links">
      <%= render 'homes/search' %>
      <%= render 'homes/asidePost' %>
      <%= render 'homes/tagsAside' %>
      <%= render 'homes/archivesAside' %>
      <%= render 'homes/adventAside' %>
    </nav>
  </aside>
</div>