<!--<pre> <%#= p @post.to_json %></pre>-->
<!--<pre> <%#= p @post.errors.to_json %></pre>-->



<% if @post.errors.any? %>
  <div class="errors">
    <h4><%= pluralize(@post.errors.count, "error") %></h4>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_for @post , url: @post.new_record?  ? post_path : post_update_path(@post.id) do |f| %>
      <div class="field">
        <%= f.label "name" %> <br />
        <%= f.text_field :name, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "desc" %> <br />
        <%= f.text_field :desc, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "content" %> <br />
        <%= f.text_field :content, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "content" %> <br />
        <%= f.text_area :content, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "image" %> <br />
        <%= f.text_field :image, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "url" %> <br />
        <%= f.text_field :url, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "active" %> <br />
        <%= f.check_box :active, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "seo_key" %> <br />
        <%= f.text_field :seo_key, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "seo_title" %> <br />
        <%= f.text_field :seo_title, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "seo_desc" %> <br />
        <%= f.text_field :seo_desc, :class => 'form-control'%>
      </div>
      <div class="field">
        <%= f.label "alt" %> <br />
        <%= f.text_field :alt, :class => 'form-control'%>
      </div>
      <div class="field">
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            Save
          <% end %>
      <% end %>
    </div>
  </div>
</div>